@model EditProfileViewModel;
@inject IStringLocalizer<SharedResource> Localizer
@{
    //TODO: Specify proper layout
    Layout = "_Layout";
}

<form asp-action="EditProfile" enctype="multipart/form-data">
    <label asp-for="Username">@Localizer["Username"]</label>
    <input asp-for="Username" value="@Model.Username" />
    <span asp-validation-for="Username"></span>
    <label asp-for="Description">Description</label>
    <input asp-for="Description" value="@Model.Description" />
    <span asp-validation-for="Username"></span>
    <label asp-for="Photo">@Localizer["ProfilePicture"]</label>
    <input asp-for="Photo" />
    <input type="submit" value="@Localizer["Save"]" />
</form>


<!-- TODO: This should be modal-->
<form id="passform">
    <label for="oldpass">@Localizer["OldPassword"]</label>
    <input id="oldpass" name="oldpass" type="password" required />
    <!--<span class="error-field old-pass-error" id="oldpasserror">@Localizer["InvalidOldPass"]</span>-->
    <label for="newpass">@Localizer["NewPassword"]</label>
    <input id="newpass" name="newpass" type="password" required />
    <label for="confirmpass">@Localizer["ConfirmPassword"]</label>
    <input id="confirmpass" name="confirmpass" type="password" required />

    <button type="reset" id="cancel" formnovalidate>Cancel</button>
    <button id="save">@Localizer["Save"]</button>
</form>

@section Scripts
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
    <script src="~/js/studentProfile.js" defer></script>
}

@section Stylesheet
{
    <link rel="stylesheet" href="~/css/studentProfile.css" />
}

