@inject IStringLocalizer<SharedResource> Localizer
@inject Microsoft.Extensions.Configuration.IConfiguration Config
@model Orhedge.ViewModels.Admin.StudentViewModel
@{
    Layout = "_Layout";
    bool myProfile = User.GetUserId() == Model.StudentId;
    string photoLink = Model.PhotoVersion.HasValue ? Url.Action("Profile", "Photo", new { id = Model.StudentId, version = Model.PhotoVersion }) : $"/images/{Config["ProfileImageSettings:Placeholder"]}";
}



@section Stylesheet
{
    <link rel="stylesheet" href="~/css/studentProfile.css" />
}


<div class="container">
    <br>
    <div class="row">
        <div class="col-xl-4">

            <div class="panel widget light-widget panel-bd-top">
                <div class="panel-heading no-title"> </div>
                <div class="panel-body">
                    <div class="text-center vd_info-parent"> <img src="@photoLink"> </div>
                    <h2 class="font-semibold mgbt-xs-5">@($"{Model.Name} {Model.LastName}")</h2>
                    <h4>@Localizer[Model.Privilege.ToString()]</h4>
                    <div class="mgtp-20">
                        <table class="table table-striped table-hover">
                            <tbody>
                                <tr>
                                    <td>@Localizer["UserRating"]</td>
                                    <td>
                                        @*@for(int i = 0; i < (int)Math.Round(Model.Rating); ++i)
                                        {
                                        <i class="fa fa-star vd_yellow fa-fw"></i>
                                        }*@
                                        <label><b>@Model.Rating / 5</b></label>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-8">
            <div class="panel widget light-widget panel-bd-top">
                <div class="panel-heading no-title"> </div>
                <div class="panel-body">
                    <h2>@($"{Localizer["UserDetails"]}:")</h2><br><br>
                    <div class="row">
                        <div class="col-4">
                            <h5><b>@Localizer["Name"]</b></h5>
                            <h5><b>@Localizer["LastName"]</b></h5>
                            <h5><b>@Localizer["Username"]</b></h5>
                            @if (myProfile)
                            {
                            <h5><b>@Localizer["Index"]</b></h5>
                            <h5><b>@Localizer["Email"]</b></h5>
                            }
                            <h5><b>@Localizer["Description"]</b></h5>
                        </div>
                        <div class="col-8">
                            <h5>@Model.Name</h5>
                            <h5>@Model.LastName</h5>
                            <h5>@Model.Username</h5>
                            @if (myProfile)
                            {
                            <h5>@Model.Index</h5>
                            <h5>@Model.Email</h5>
                            }
                            <p>@Model.Description</p>
                        </div>
                    </div>
                    @if (myProfile)
                    {
                        <hr><br>
                        <form action="@Url.Action("Edit", "Student")" method="get">
                            <button class="editProfileBtn btn btn-primary btn-block btn-lg">@Localizer["UpdateProfile"]</button>
                        </form>
                    }
                </div>
            </div>
        </div>
    </div>
</div>