@model Orhedge.ViewModels.TechnicalSupport.TechnicalSupportViewModel
@{
    ViewData["Title"] = "Chat";
}
@using Orhedge.ViewModels.TechnicalSupport;
@using DatabaseLayer.Enums;
@section Stylesheet{
    <link rel="stylesheet" href="~/css/avatar.css">
    <link rel="stylesheet" href="~/css/chat.css">
    <link rel="stylesheet" href="~/css/modalDesign.css" />
}
@inject IStringLocalizer<SharedResource> Localizer
@if (ViewBag.InfoMessage != null && ViewBag.InfoMessage.IsSet)
{
    <div class="alert @ViewBag.InfoMessage.CssClass alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        @ViewBag.InfoMessage.Message
    </div>
}
@Html.Hidden("PageRedirect", Url.Action("Page", "TechnicalSupport"))
@Html.Hidden("MessageDeleteRedirect", Url.Action("DeleteMessage", "TechnicalSupport"))
<div class="container" style="margin-left:10px">
    <div class="row">&nbsp;</div>
    <div class="row" style="align-items:center">
        <textarea type="text" id="messageInput" placeholder=@Localizer["Message"] style="width:70%"></textarea>
        <button class="submitbtn btn btn-primary button button4" style="max-height:40px;font-size:1em;margin-left:30px; align-content:center" type="button" id="sendButton"> <i class="fa fa-envelope" aria-hidden="true"></i></button>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <hr />
    </div>
</div>

<div class="container content row">
    <div class="col-12">
        <div class="row">
            <div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-12">
                <div class="card">
                    <div class="card-body height3">
                        <ul class="chat-list" id="messagesList">
                            @foreach (ChatMessageViewModel message in Model.ChatMessages)
                            {
                                if (message.Privilege == StudentPrivilege.JuniorAdmin || message.Privilege == StudentPrivilege.SeniorAdmin)
                                {
                                    <li class="out" style="overflow:hidden">
                                        <div class="chat-img">
                                            <div class="avatar-circle">
                                                <span class="initials">@message.StudentInitials</span>
                                            </div>
                                        </div>
                                        <div class="chat-body">
                                            <div class="chat-message">
                                                <h5>@message.Username</h5>
                                                <p>@message.Message</p>
                                            </div>
                                        </div>
                                        @if (User.IsAdministrator())
                                        {
                                            <span class="close" onclick="deleteMessage(@message.ChatMessageId)">x</span>
                                        }
                                    </li>
                                }
                                else
                                {
                                    <li class="in" style="overflow:hidden">
                                        <div class="chat-img">
                                            <div class="avatar-circle">
                                                <span class="initials">@message.StudentInitials</span>
                                            </div>
                                        </div>
                                        <div class="chat-body">
                                            <div class="chat-message">
                                                <h5>@message.Username</h5>
                                                <p>@message.Message</p>
                                            </div>
                                        </div>
                                        @if (User.IsAdministrator())
                                        {
                                            <span class="close" onclick="deleteMessage(@message.ChatMessageId)">x</span>
                                        }
                                    </li>
                                }
                            }
                        </ul>
                    </div>
                    <div class="card-footer">
                        <nav aria-label="Page navigation example">
                            <div class="container-fluid padding">
                                <ul class="pagination justify-content-center">
                                    @if (!Model.PageInformation.IsFirst)
                                    {
                                        <li class="page-item">
                                            <a class="page-link" href="#" onclick="page(@Model.PageInformation.FirstPageNumber)">@Localizer["FirstPage"]</a>
                                        </li>
                                        <li class="page-item">
                                            <a class="page-link" href="#" onclick="page(@Model.PageInformation.PreviousPageNumber)">@Localizer["PreviousPage"]</a>
                                        </li>
                                    }
                                    <li class="page-header">
                                        Stranica @(Model.PageInformation.PageNumber + 1) od @(Model.PageInformation.LastPageNumber + 1)
                                    </li>
                                    @if (!Model.PageInformation.IsLast)
                                    {
                                        <li class="page-item">
                                            <a class="page-link" href="#" onclick="page(@Model.PageInformation.NextPageNumber)">@Localizer["NextPage"]</a>
                                        </li>
                                        <li class="page-item">
                                            <a class="page-link" href="#" onclick="page(@Model.PageInformation.LastPageNumber)">@Localizer["LastPage"]</a>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/chat.js"></script>
    <script>
        jQuery(document).ready(function () {
            jQuery("#messageInput").on("keydown keyup", function () {
                this.style.height = "1px";
                this.style.height = (this.scrollHeight) + "px";
            });
        });</script>
}
