@model Orhedge.ViewModels.StudyMaterial.CourseStudyMaterialsViewModel
@{
    ViewData["Title"] = "Course";
}
@inject IStringLocalizer<SharedResource> Localizer
@using Orhedge.ViewModels.StudyMaterial;
@using Orhedge.Enums;
@section Stylesheet {
    <link href="https://fonts.googleapis.com/css?family=McLaren&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://kit-free.fontawesome.com/releases/latest/css/free.min.css" media="all">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="~/css/styleCourseMaterial.css">
    <style>
        .fa {
            font-size: 10px;
            margin: 0px 0px 0px 0px;
        }
    </style>
}
@section HeadScripts {
    <script src="~/js/materials/material.js" type="text/javascript" defer></script>
    <script src="~/js/saveMaterial.js" type="text/javascript" defer></script>
    <script src="~/js/filereader.js" type="text/javascript" defer></script>
    <script src="~/js/rating.js" type="text/javascript" defer></script>
}
@section Scripts{
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
            integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
            crossorigin="anonymous"></script>
    <script src="~/js/materials/courseMaterial.js" type="text/javascript"></script>
}
<body>
    <div class="container-fluid main-content" style="background-color:#04001D; color: white;">
        <div class="row padding">
            <div class="col-xs-12 col-sm-12 col-md-8">
                <p style="text-align: center; padding-top:30px;">
                    Kolegijalnost je nešto što karakteriše ovaj dio rada studentske organizacije OrghEDGE.
                    Ako imate digitalni materijal, pošaljite nam kako bi svi bili na jednom mjestu. Ostale kolege ce imati priliku
                    da ocijene vaš materijal. Na taj način sprečavamo zloupotrebu.
                </p>
                <p style="text-align: right; margin-right: 15px; font-weight: bold;">Pažljivo popunite formu!</p>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4" style="padding-top: 40px; padding-bottom: 20px;">
                <input type='file' accept='.pdf,.doc,.jpeg' onchange='openFile(event)'><br>
                <a id='output' hidden="hidden"></a>
                <form id="uploadForm" name="uploadForm" enctype="multipart/form-data">
                    <br>
                    <select class="form-control form-control-lg" name="category" id="year-input" required">
                        <option value="">Izaberite... </option>
                        <option value="1">Prva godina</option>
                        <option value="2">Druga godina</option>
                        <option value="3">Treća godina</option>
                        <option value="4">Četvrta godina</option>
                    </select>
                    <br>
                    <input id="course-input" class="form-control form-control-lg" name="course" required />
                    <br>
                    <select class="form-control form-control-lg" name="category" id="category-input" required">
                    </select>
                    <br>
                    <button id="buttonSave" name="buttonSave" class="btn btn-primary btn-outline-light" onclick="saveMaterial()"> Pošalji nam materijal</button>
                </form>
            </div>
        </div>
    </div>
    <div class="container-fluid padding">
        <div class="row text-center ">
            <div class="col-xl-12">
                <h1 class="display-2" style="color: whitesmoke;">@Localizer["Materials"]</h1>
            </div>

        </div>
    </div>
    @{
        string format = "{{itemCount:{0},pageNumber:{1},courseId:{2}}}";
        string paramsSearchSortFilter = string.Format(format, (ViewBag.AllCategories as List<CategoryViewModel>).Count, @Model.PageInformation.PageNumber, Model.CourseId);
    }
    <div class="row">
        <!--Populate-->
        <div class="container-fluid col-10">
            <div class="container-fluid">
                <div class="d-flex flex-row justify-content-between  rounded-top" style="background-color: whitesmoke; padding-top: 10px; padding-bottom: 10px; border-style: solid; border-width: 5px;">
                    <!--Sort-->
                    <select id="sort" name="sort" class="form-control" type="" onchange="searchSortFilter(@paramsSearchSortFilter)" style="margin-bottom:20px">
                        @switch (ViewBag.SortingCriteria)
                        {
                            case StudyMaterialSortingCriteria.NoSorting:
                                <option selected>@Localizer["Sort"]</option>
                                <option value=@StudyMaterialSortingCriteria.NoSorting selected>@Localizer["NoSorting"]</option>
                                <option value=@StudyMaterialSortingCriteria.UploadDateAsc>@Localizer["UploadDateAsc"] </option>
                                <option value=@StudyMaterialSortingCriteria.UploadDateDesc>@Localizer["UploadDateDesc"]</option>
                                <option value=@StudyMaterialSortingCriteria.RatingAsc>@Localizer["RatingAsc"]</option>
                                <option value=@StudyMaterialSortingCriteria.RatingDesc>@Localizer["RatingDesc"]</option>
                                break;
                            case StudyMaterialSortingCriteria.UploadDateAsc:
                                <option value=@StudyMaterialSortingCriteria.NoSorting>@Localizer["NoSorting"]</option>
                                <option value=@StudyMaterialSortingCriteria.UploadDateAsc selected>@Localizer["UploadDateAsc"] </option>
                                <option value=@StudyMaterialSortingCriteria.UploadDateDesc>@Localizer["UploadDateDesc"]</option>
                                <option value=@StudyMaterialSortingCriteria.RatingAsc>@Localizer["RatingAsc"]</option>
                                <option value=@StudyMaterialSortingCriteria.RatingDesc>@Localizer["RatingDesc"]</option>
                                break;
                            case StudyMaterialSortingCriteria.UploadDateDesc:
                                <option value=@StudyMaterialSortingCriteria.NoSorting>@Localizer["NoSorting"]</option>
                                <option value=@StudyMaterialSortingCriteria.UploadDateAsc>@Localizer["UploadDateAsc"] </option>
                                <option value=@StudyMaterialSortingCriteria.UploadDateDesc selected>@Localizer["UploadDateDesc"]</option>
                                <option value=@StudyMaterialSortingCriteria.RatingAsc>@Localizer["RatingAsc"]</option>
                                <option value=@StudyMaterialSortingCriteria.RatingDesc>@Localizer["RatingDesc"]</option>
                                break;
                            case StudyMaterialSortingCriteria.RatingAsc:
                                <option value=@StudyMaterialSortingCriteria.NoSorting>@Localizer["NoSorting"]</option>
                                <option value=@StudyMaterialSortingCriteria.UploadDateAsc>@Localizer["UploadDateAsc"] </option>
                                <option value=@StudyMaterialSortingCriteria.UploadDateDesc>@Localizer["UploadDateDesc"]</option>
                                <option value=@StudyMaterialSortingCriteria.RatingAsc selected>@Localizer["RatingAsc"]</option>
                                <option value=@StudyMaterialSortingCriteria.RatingDesc>@Localizer["RatingDesc"]</option>
                                break;
                            case StudyMaterialSortingCriteria.RatingDesc:
                                <option value=@StudyMaterialSortingCriteria.NoSorting>@Localizer["NoSorting"]</option>
                                <option value=@StudyMaterialSortingCriteria.UploadDateAsc>@Localizer["UploadDateAsc"] </option>
                                <option value=@StudyMaterialSortingCriteria.UploadDateDesc>@Localizer["UploadDateDesc"]</option>
                                <option value=@StudyMaterialSortingCriteria.RatingAsc>@Localizer["RatingAsc"]</option>
                                <option value=@StudyMaterialSortingCriteria.RatingDesc selected>@Localizer["RatingDesc"]</option>
                                break;
                        }
                    </select>
                    <!--Search-->
                    <div class="d-flex flex-row" style="margin-bottom:20px">
                        <input class="search" type="text" placeholder=@Localizer["Search"] id="search" name="search" value=@ViewBag.SearchFor>
                        <button type="submit" onclick="searchSortFilter(@paramsSearchSortFilter)" class="buttonSearch"><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div style="background-color:white;">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">@Localizer["NameObject"]</th>
                                <th scope="col">@Localizer["Type"]</th>
                                <th scope="col">@Localizer["Author"]</th>
                                <th scope="col">@Localizer["UploadDate"]</th>
                                <th scope="col">@Localizer["Rating"]</th>
                                <th scope="col"> </th>
                                <th scope="col"> </th>
                        </thead>
                        @{string ratingStarFormat = "{{studentId:{0},studyMaterialId:{1},rating:{2}}}";
                        }
                        <tbody>
                            @foreach (StudyMaterialViewModel st in Model.StudyMaterials)
                            {
                                <tr>
                                    <td>
                                        @Html.ActionLink(st.Name, "DownloadStudyMaterial", "StudyMaterial", new { @studyMaterialId = st.StudyMaterialId })
                                    </td>
                                    <td><p>@st.CategoryName</p></td>
                                    <td>@st.AuthorFullName</td>
                                    <td>@st.UploadDate</td>
                                    <td>@st.TotalRating</td>
                                    <td>
                                        @{
                                            string param = Json.Serialize(st).ToString();
                                        }
                                        <button type="button" class="btn btn-primary btn-sm" style="background:#3b8080" onclick="showEditModal(@param)">@Localizer["Edit"]</button>
                                        <button type="button" class="btn btn-primary btn-sm" style="background:#3b8080" onclick="showDeleteModal(@st.StudyMaterialId)">@Localizer["Delete"]</button>
                                    </td>
                                    <td>
                                        @for (int i = 1; i < st.GivenRating + 1; ++i)
                                        {
                                            <button type="button" id=@(st.StudyMaterialId + i.ToString()) class="btn" style="margin:0px 0px 0px 0px;background:#4facac" onclick="rate(@string.Format(ratingStarFormat, st.StudentId, st.StudyMaterialId, i))">
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                            </button>
                                        }
                                        @for (int i = st.GivenRating + 1; i < 6; ++i)
                                        {
                                            <button type="button" id=@(st.StudyMaterialId + i.ToString()) class="btn" style="margin:0px 0px 0px 0px;background:transparent" onclick="rate(@string.Format(ratingStarFormat, st.StudentId, st.StudyMaterialId, i))">
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                            </button>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="container-fluid col-2">
            <div class="d-flex flex-column justify-content-between rounded-top" style="background-color: whitesmoke; padding-top: 10px; padding-bottom: 10px; border-style: solid;border-width: 5px;">
                <!--Filter-->
                <p>
                    <b>Prikaz predmeta po kategorijama</b>
                </p>
                <div>
                    @{
                        var allCategories = ViewBag.AllCategories as List<CategoryViewModel>;
                        var selectedCategories = ViewBag.SelectedCategories as int[];
                    }

                    @for (int i = 0; i < allCategories.Count; ++i)
                    {
                        CategoryViewModel cat = allCategories[i];
                        <div class="form-check filteri">
                            @Html.CheckBox(cat.CategoryId + "filter", selectedCategories?.Contains(cat.CategoryId), new
                            {
                                @id = i + "filter",
                                @value = cat.CategoryId
                        })
                            <label for=@(cat.CategoryId + "filter")>
                                @Localizer[cat.Name]
                            </label>
                        </div>
                    }
                    <button type="submit" onclick="searchSortFilter(@paramsSearchSortFilter)">Osvježi</button>
                </div>
            </div>
        </div>
    </div>
    <nav aria-label="Page navigation example">
        <div class="container-fluid padding">
            @{
                int totalCatCount = (ViewBag.AllCategories as List<CategoryViewModel>).Count;
            }
            <ul class="pagination justify-content-center">
                @if (!Model.PageInformation.IsFirst)
                {
                    <li class="page-item">
                        <a class="page-link" href="#" onclick="searchSortFilter(@string.Format(format, totalCatCount, Model.PageInformation.FirstPageNumber, Model.CourseId))">Prva</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#" onclick="searchSortFilter(@string.Format(format, totalCatCount, Model.PageInformation.PreviousPageNumber, Model.CourseId))">Prethodna</a>
                    </li>
                }
                <li class="page-header">
                    Stranica @(Model.PageInformation.PageNumber + 1) od @(Model.PageInformation.LastPageNumber + 1)
                </li>
                @if (!Model.PageInformation.IsLast)
                {
                    <li class="page-item">
                        <a class="page-link" href="#" onclick="searchSortFilter(@string.Format(format, totalCatCount, Model.PageInformation.NextPageNumber, Model.CourseId))">Sljedeća</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#" onclick="searchSortFilter(@string.Format(format, totalCatCount, Model.PageInformation.LastPageNumber, Model.CourseId))">Posljednja</a>
                    </li>
                }
            </ul>
        </div>
    </nav>

    <footer>
        <div class="container-fluid padding">
            <div class="row text-center">
                <div class="col-12">
                    <h5>Copyright © 2019 ~ Studentska organizacija OrhEDGE </h5>
                </div>
            </div>
        </div>
    </footer>

    <div id="modalEditId" class="modal">
        <form id="editFormId" class="modal-content animate">
            <div class="imgcontainer">
                <span onclick="document.getElementById('modalEditId').style.display='none'" class="close" title="Close Modal">&times;</span>
            </div>
            <div class="container">
                <input type="number" hidden="hidden" id="editStudyMaterialId" name="studyMaterialId" />
                <div class="row">
                    <label for="name" class="col-6"><b>Naziv</b></label>
                    <input type="text" class="col-6" id="name" name="name" required>
                </div>
                <div class="row">
                    <b class="col-6">Kategorija</b>
                    <select class="form-control form-control-sm col-6" name="categories">

                        @foreach (CategoryViewModel category in (ViewBag.AllCategories as List<CategoryViewModel>))
                        {
                            <option id=@category.CategoryId value=@category.CategoryId>@category.Name</option>
                        }
                    </select>
                </div>
                <div class="row">
                    <button type="button" class="col-6" onclick="editStudyMaterial(@Model.CourseId)">@Localizer["Save"]</button>
                    <button type="button" class="cancelbtn col-6" onclick="document.getElementById('modalEditId').style.display='none'">@Localizer["Cancel"]</button>
                </div>
            </div>
        </form>
    </div>
    @Html.Hidden("SearchSortFilterRedirect", Url.Action("SearchSortFilter", "StudyMaterial"))
    <div id="modalDeleteId" class="modal">
        <form id="deleteFormId" class="modal-content animate">
            <div class="imgcontainer">
                <span onclick="document.getElementById('modalDeleteId').style.display='none'" class="close" title="Close Modal">&times;</span>
            </div>
            <label><b>@Localizer["ConfirmDelete"]</b></label>
            <br />
            <div class="container">
                <input type="number" hidden="hidden" id="deleteStudyMaterialId" name="studyMaterialId" />
                <button type="button" onclick="deleteStudyMaterial(@Model.CourseId)">@Localizer["Delete"]</button>
                <button type="button" onclick="document.getElementById('modalDeleteId').style.display='none'" class="cancelbtn">@Localizer["Cancel"]</button>
            </div>
        </form>
    </div>
</body>
