@model Orhedge.ViewModels.StudyMaterial.IndexViewModel
@using Orhedge.ViewModels.StudyMaterial;
@using System;
@using DatabaseLayer.Enums;
@{
    ViewData["Title"] = "Index";
    StudentPrivilege privilege = User.GetPrivilege();
}
@inject IStringLocalizer<SharedResource> Localizer

@section Stylesheet {
    <link href="https://fonts.googleapis.com/css?family=McLaren&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://kit-free.fontawesome.com/releases/latest/css/free.min.css" media="all">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="~/css/stylematerijali.css">
    <link rel="stylesheet" href="~/css/spinner.css">
}

@section HeadScripts {
    <script src="~/js/materials/material.js" type="text/javascript" defer></script>
    <script src="~/js/filereader.js" type="text/javascript" defer></script>
}

@section Scripts {
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
            integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
            crossorigin="anonymous"></script>
}
@if (ViewBag.InfoMessage != null && ViewBag.InfoMessage.IsSet)
{
    <div class="alert @ViewBag.InfoMessage.CssClass alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        @ViewBag.InfoMessage.Message
    </div>
}
<div class="spinner-wrapper">
    <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>

<!--Send material-->
<div class="container-fluid main-content" style="background-color:#04001D; color: white;">
    <div class="row padding">
        <div class="col-xs-12 col-sm-12 col-md-8">
            <p style="text-align: center; padding-top:30px;">
                Kolegijalnost je nešto što karakteriše ovaj dio rada studentske organizacije OrghEDGE.
                Ako imate digitalni materijal, pošaljite nam kako bi svi bili na jednom mjestu. Ostale kolege ce imati priliku
                da ocijene vaš materijal. Na taj način sprečavamo zloupotrebu.
            </p>
            <p style="text-align: right; margin-right: 15px; font-weight: bold;">@Localizer["FillForm"]</p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4" style="padding-top: 40px; padding-bottom: 20px;">
            <form method="post" enctype="multipart/form-data" asp-controller="StudyMaterial" asp-action="UploadFile">
                <div class="form-group">
                    <div class="col-md-10">
                        <p>@Localizer["UploadFileInputMessage"]</p>
                        <input type="file" accept='.pdf,.doc,.jpeg,.zip' name="files" multiple />
                    </div>
                </div>
                <br>
                <select class="form-control form-control-lg" name="year" id="year-input" required">
                    <option value="">@Localizer["Choose"]</option>
                    <option value="1">@Localizer["FirstYear"]</option>
                    <option value="2">@Localizer["SecondYear"]</option>
                    <option value="3">@Localizer["ThirdYear"]</option>
                    <option value="4">@Localizer["FourthYear"]</option>
                </select>
                <br>
                <input id="course-input" placeholder="@Localizer["CourseName"]" class="form-control form-control-lg" name="course" required />
                <br>
                <select class="form-control form-control-lg" name="category" id="category-input" required">
                </select>
                <br>
                <div class="form-group">
                    <div class="col-md-10">
                        <input @(User.GetPrivilege() == StudentPrivilege.Reduced ? "disabled" : string.Empty) type="submit" class="btn btn-primary btn-outline-light" value=@Localizer["Send"] />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!--Show courses-->
<div class="conatainer-fluid" style="color: white;">
    <div class="row text-center">
        @{ List<SemesterViewModel> semesters = Model.Semesters;
            foreach (SemesterViewModel semester in semesters)
            {
                if (semester.Semester == Semester.First || semester.Semester == Semester.Second)
                {

                    <div class="col-xs-12 col-sm-12 col-md-6">
                        <h1 class="display-4">@Localizer[semester.Semester.ToString()]</h1>
                        @foreach (IndexCourseViewModel indexCourse in semester.Courses[0])
                        {
                            @Html.ActionLink(indexCourse.Name, "Course", "StudyMaterial", new { @courseId = indexCourse.CourseId }, new { @class = "btn btn-link linkpredmeta" })
                        }
                    </div>
                }
                else
                {
                    <div class="col-xs-12 col-sm-12 col-md-6">
                        <h1 class="display-4">@Localizer[semester.Semester.ToString()]</h1>
                        @foreach (StudyProgram sp in Enum.GetValues(typeof(StudyProgram)))
                        {
                            if (sp != StudyProgram.CommonYear)
                            {
                                <div class="dropdown">
                                    <a class="btn  dropdown-toggle linkpredmeta" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        @Localizer[sp.ToString()]
                                    </a>
                                    <div class="dropdown-menu linkpredmeta" aria-labelledby="dropdownMenuLink">
                                        @foreach (IndexCourseViewModel indexCourse in semester.Courses[sp])
                                        {
                                            @Html.ActionLink(indexCourse.Name, "Course", "StudyMaterial", new { @courseId = indexCourse.CourseId }, new { @class = "dropdown-item" })
                                        }
                                    </div>
                                </div>
                            }
                        }
                    </div>
                }
            }
        }

    </div>

</div>
<!--Footer-->
<footer>
    <div class="container-fluid padding">
        <div class="row text-center">
            <div class="col-12">
                <h5>Copyright © 2019 ~ Studenstka organizacija OrhEDGE</h5>
            </div>
        </div>
    </div>
</footer>



