@model Orhedge.ViewModels.StudyMaterial.IndexViewModel
@using Orhedge.ViewModels.StudyMaterial;
@using System;
@using DatabaseLayer.Enums;
@{
    ViewData["Title"] = "Index";
}
@inject IStringLocalizer<SharedResource> Localizer
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Aleksandar Zrnic">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=McLaren&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://kit-free.fontawesome.com/releases/latest/css/free.min.css" media="all">
    <link rel="stylesheet" href="~/css/stylematerijali.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="~/js/Scripts/jquery-3.3.1.js"></script>
    <script src="~/js/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/js/bootstrap.js"></script>
    <script src="~/js/javascriptMaterijal.js" type="text/javascript"></script>
    <script src="~/js/saveMaterial.js" type="text/javascript"></script>
    <script src="~/js/filereader.js" type="text/javascript"></script>
</head>

<body>
    <!--Posalji materijal-->
    <div class="container-fluid" style="background-color:#04001D; color: white;">
        <div class="row padding">
            <div class="col-xs-12 col-sm-12 col-md-8">
                <p style="text-align: center; padding-top:30px;">
                    Kolegijalnost je nešto što karakteriše ovaj dio rada studentske organizacije OrghEDGE.
                    Ako imate digitalni materijal, pošaljite nam kako bi svi bili na jednom mjestu. Ostale kolege ce imati priliku
                    da ocijene vaš materijal. Na taj način sprečavamo zloupotrebu.
                </p>
                <p style="text-align: right; margin-right: 15px; font-weight: bold;">Pažljivo popunite formu!</p>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4" style="padding-top: 40px; padding-bottom: 20px;">
                <input type='file' accept='.pdf,.doc,.jpeg' onchange='openFile(event)'><br><!--Koji fajlovi se mogu da se salju-->
                <a id='output' hidden="hidden"></a>
                <form id="uploadForm" name="uploadForm" enctype="multipart/form-data">
                    <!--Dodati potrebnu akciju-->
                    <br>
                    <select class="form-control form-control-lg" name="category" id="validationCustom03" onchange="ChangecatList()" required">
                        <option value="">Izaberite... </option>
                        <option value="1">Prva godina</option>
                        <option value="2">Druga godina</option>
                        <option value="3">Treća godina</option>
                        <option value="4">Četvrta godina</option>
                    </select>
                    <br>
                    <select class="form-control form-control-lg" id="validationCustom04" name="course" required></select>
                    <br>
                    <select class="form-control form-control-lg" name="category" id="validationCustom03" onchange="ChangecatList()" required">
                        <option value="">Izaberite... </option>
                        <option value="1">Sveska</option>
                        <option value="2">Ispitni rokovi</option>
                        <option value="3">Knjiga</option>
                        <option value="4">Prezentacije</option>
                        <option value="5">Linkovi</option>
                    </select>
                    <br>
                    <button id="buttonSave" name="buttonSave" class="btn btn-primary btn-outline-light" onclick="saveMaterial()"> Pošalji nam materijal</button>
                </form>
            </div>
        </div>
    </div>
    <!--Prikaz predmeta i materijala-->
    <div class="conatainer-fluid" style="color: white;">
        <div class="row text-center">
            @{ List<SemesterViewModel> semesters = Model.Semesters;
                foreach (SemesterViewModel semester in semesters)
                {
                    if (semester.Semester == Semester.First || semester.Semester == Semester.Second)
                    {

                        <div class="col-xs-12 col-sm-12 col-md-6">
                            <h1 class="display-4">@Localizer[semester.Semester.ToString()]</h1>
                            <hr> <!--Treba stajlovati hr!!-->
                            @foreach (IndexCourseViewModel indexCourse in semester.Courses[0])
                            {
                                <a href="#" class="btn btn-link linkpredmeta">@indexCourse.Name</a>
                            }
                        </div>
                    }
                    else
                    {
                        <div class="col-xs-12 col-sm-12 col-md-6">
                            <h1 class="display-4">@Localizer[semester.Semester.ToString()]</h1>
                            <hr> <!--Treba stajlovati hr!!-->
                            @foreach (StudyProgram sp in Enum.GetValues(typeof(StudyProgram)))
                            {
                                if (sp != StudyProgram.CommonYear)
                                {
                                    <div class="dropdown">
                                        <a class="btn  dropdown-toggle linkpredmeta" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            @Localizer[sp.ToString()]
                                        </a>
                                        @foreach (IndexCourseViewModel indexCourse in semester.Courses[sp])
                                        {
                                            <div class="dropdown-menu linkpredmeta" aria-labelledby="dropdownMenuLink">
                                                <a class="dropdown-item" href="#">@indexCourse.Name</a>
                                            </div>
                                        }
                                    </div>
                                }
                            }
                        </div>
                    }
                }
            }

        </div>

    </div>
    <!--Footer-->
    <footer>
        <div class="container-fluid padding">
            <div class="row text-center">
                <div class="col-12">
                    <h5>Copyright © 2019 ~ Studenstka organizacija OrhEDGE ~ Izrada: Aleksandar Zrnić </h5>
                </div>
            </div>
        </div>
    </footer>
</body>



