
@{
    Layout = null;
}

@model LoginViewModel
@inject IStringLocalizer<SharedResource> Localizer

<!DOCTYPE html>
<html>
<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="~/css/stylelogin.css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/1.0.0/anime.min.js"></script>
    <script src="~/js/javascriptLogin.js" type="text/javascript" defer></script>
    <style>
        canvas {
            width: 100vw;
            height: 100vh;
            position: absolute;
            left: 0;
            top: 0;
            z-index: -1;
        }
    </style>
</head>
<body>
    <div class="container-fluid d-flex h-100" style="position: relative;">
        <div class="row align-self-center w-100">
            <canvas id="c"></canvas>
            <div class="col-xs-12 col-md-3 mx-auto login-sec">
                <h2 class="text-center">@Localizer["Login"]</h2>
                <form asp-action="Login" asp-controller="Authentication" asp-route-returnurl="@ViewData["returnUrl"]" class="form-singin">
                    <div class="form-group">
                        <label for="InputUsername1" class="text-uppercase">@Localizer["Username"]</label>
                        <input asp-for="Username" type="text" class="form-control" id="InputUsername1" placeholder="">
                        <div class="invalid-feedback" style="display:block;">
                            <span asp-validation-for="Username"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="InputPassword1" class="text-uppercase">@Localizer["Password"]</label>
                        <input asp-for="Password" type="password" class="form-control" id="InputPassword1" placeholder="">
                        <div class="invalid-feedback" style="display:block;">
                            <span asp-validation-for="Password"></span>
                        </div>
                    </div>
                    @if (ViewData.ContainsKey("invalidCred"))
                    {
                        <p style="color: red;">@Localizer["InvalidCredentials"]</p>
                    }
                    <div class="form-check">
                        <label class="form-check-label">
                            <input asp-for="RememberMe" type="checkbox" class="form-check-input">
                            <small>@Localizer["RememberMe"]</small>
                        </label>
                        <button type="submit" class="btn btn-login float-right">@Localizer["Login"]</button>
                    </div>
                </form>
                <div class="copy-text">Created with <i class="fa fa-heart"></i> by <a href="#">OrhEdge team</a></div>
            </div>
        </div>
    </div>

</body>
</html>